// Body
$body-bg: #2c2f33;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$pa-gray: #2c2f33;
$pa-black: #23272A;
$pa-red: #F15F4B;
$pa-green: #C4F14E;
$pa-white: #ffffff;
